.body{
    -webkit-text-size-adjust: none;
}

.main-cont{
    background-color: blueviolet;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    bottom: 0px;
    padding-left: 10px;
}

.content-cont{
    background-color: rgb(244, 244, 245);
    height: 90%;
    width: 90%;
    margin-top: 2em;
    margin-right: auto;
    margin-left: auto;
    border-radius: 1.5em;
}

.sidebar{
    background-color: rgb(29, 29, 32);
    height: 100%;
    width: 15%;
    border-radius: 1.5em;
}
.homeBtn{
    margin-top: 8em;
}
.homeBtn, .settingsBtn, .logoutBtn{
    background-color: rgb(29, 29, 32);
    color: white;
    width: 80%;
    padding: 0.8em;
    margin-bottom: 1em;
    margin-left: 1em;
    font-size: 19px;
    font-family: 'Lora', serif;
    border: none;
}

#topbar{
    font-family: 'Lora', serif;
    background-color: rgb(234, 234, 236);
    margin-top: -13em;
    margin-left: 20%;
    font-weight: 600;
    font-size: 40px;
    margin-right: 6%;
    border: 1px solid #8A2BE2;
    border-radius: 0.4em;
    padding-left: 0.5em;
}

#layoutBtn, #opsBtn, #ordersBtn{
    border: none;
    height: 7em;
    width: 12em;
    box-shadow: 0px 0px 6px 0px grey;
    background-color: white;
    font-family: 'Lora', serif;
    font-size: 15px;
    font-weight: 600;
    border-radius: 1em;
    outline: none;
}
#opsBtn{
    margin-left: 30em;
    margin-top: 7em; 
    font-family: 'Lora', serif;
}
#layoutBtn{
    margin-left: 5em;
    font-family: 'Lora', serif;
}
#ordersBtn{
    margin-left: 37em;
    margin-top: 2em; 
    font-family: 'Lora', serif;
}

#layoutBtn:hover, #opsBtn:hover, #ordersBtn:hover {
    background-color: rgb(234, 234, 236);
}

#layout{
    margin-left: 20%;
    
}
#link{
    margin-left: 45%;
}

#pipesBox{
    height: 22em;
    width: 70%;
    overflow-y: auto;
    margin-top: -22em;
    margin-left: 67%;
    font-family: 'Lora', serif;
}
#junctionsBox{
    height: 22em;
    width: 19em;
    overflow-y: auto;
    margin-top: 2em;
    font-family: 'Lora', serif;
}
#coordsBox{
    height: 22em;
    width: 18em;
    margin-left: 34%;
    margin-top: -22em;
    display: inline;
    overflow-y: auto;
    font-family: 'Lora', serif;
}
#allTbls{
    overflow-x: auto;
    height: 32em;
    width: 75%;
    margin-left: 20%;
}

#ordersForm{
    margin-top: -30em;
    margin-left: 20%;
    width: 15em;
    font-family: 'Lora', serif;
}

#CRUD{
    width: 27em;
    margin-left: 50%;
    margin-top: -17em;
    font-family: 'Lora', serif;
}

#ops{
    margin-top: -33em;
    margin-left: 15%;
    height: 79%;
}

#settingsPg{
    margin-top: -30em;
    margin-left: 20%;
    background-color: white;
    height: 25em;
    width: 28em;
}

#acc{
    margin-top: 1em;
    width: 25em;
    height: 3em;
}

#acc, #notifs, #profile, #support, #terms{
    border: none 0px;
    outline: none;
    margin-left: 1em;
    border-radius: 1em;
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Lora', serif;
}
#support, #terms{
    margin-top: 2em;
    width: 25em;
    height: 3em;
}

#notifs, #profile{
    margin-left: 3em;
    margin-top: 1em;
    width: 22em;
    height: 2.5em;
}
#acc:hover, #notifs:hover, #profile:hover, #support:hover, #terms:hover{
    background-color: rgb(230, 230, 233);
}

#analytics{
    margin-left: 1.5em;
    margin-right: 1.3em;
}
#sys{
    margin-left: 2.5em;
    width: 4em;
    margin-right: 1.3em; 
}
#order{
    margin-left: 2.6em;
    width: 5em;
    margin-right: 1.7em;
}

::-webkit-scrollbar {
    width: 2em;  /* Total width including `border-width` of scrollbar thumb */
    height:10px;
}
::-webkit-scrollbar-thumb {
    height: 1em;
    border: 0.7em solid rgba(0, 0, 0, 0);  /* Transparent border together with `background-clip: padding-box` does the trick */
    background-clip: padding-box;
    -webkit-border-radius: 1em;
    background-color: rgba(0, 0, 0, 0.025);
    -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.025);
}

/* the box */
::-webkit-scrollbar-button { 
    width: 5px;
    height: 5px;
    display: none;
    background-color: blue;
}
::-webkit-scrollbar-corner {
    background-color: transparent;
}
